/* Sidebar styles */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    right: 0; /* Cambié el right a 0 */
    background-color: #131a41;
    overflow-x: hidden;
    transition: transform 0.3s ease;
    padding-top: 20px;
    z-index: 2;
    box-sizing: border-box;
    transform: translateX(100%); /* Oculta la barra lateral al principio */
}

.sidebar.show {
    transform: translateX(0); /* Mueve la barra lateral a su posición visible */
}

.sidebar.hide {
    transform: translateX(100%); /* Vuelve a mover la barra lateral fuera de la vista */
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .sidebar {
        width: 100%; /* Ocupa toda la pantalla en móviles */
    }

    #map {
        height: calc(100% - 60px); /* Ajusta la altura del mapa cuando la barra lateral esté activa */
    }
}

/* Estilos para el botón de toggle */
#toggleSidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100;
    border-radius: 50%;
    padding: 10px;
    font-size: 16px;
    width: 60px;
    height: 60px;
    background-color: #9f281c;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggleSidebar:hover {
    background-color: #d63333;
}
