* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: 100vh; /* Altura del mapa al 100% de la vista */
    transition: margin-left 0.4s ease; /* Transición suave al cambiar el margen */
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px; /* Oculto por defecto */
    width: 300px;
    height: 100%; /* Altura completa */
    background: rgba(255, 255, 255, 0.15); /* Fondo con efecto de vidrio */
    backdrop-filter: blur(15px); /* Efecto de desenfoque */
    border-right: 1px solid rgba(255, 255, 255, 0.3); /* Borde derecho */
    transition: left 0.4s ease; /* Animación suave */
    padding: 30px; /* Espaciado interno */
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    z-index: 1000; /* Asegurarse de que esté sobre el mapa */
}

.sidebar.active {
    left: 0; /* Mostrar menú al activarlo */
}

#controls {
    margin-bottom: 20px;
}

#controls button {
    margin: 10px 0;
    padding: 12px 15px;
    background: rgba(0, 102, 204, 0.8);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
    width: 100%; /* Ajustar ancho al 100% */
}

#controls button:hover {
    background: rgba(0, 102, 204, 1);
    transform: scale(1.05);
}

#controls input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    transition: background 0.3s;
}

#controls input:focus {
    background: rgba(255, 255, 255, 1);
    outline: none;
}

#controls input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.info-window-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-window-content img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Media Queries para dispositivos más pequeños */
@media (max-width: 768px) {
    .sidebar {
        width: 250px; /* Ajustar ancho para móviles */
    }
}



